/Debug
/Release
*.user
*.ncb
*.suo
*.VC.db
*.VC.opendb
/*.sdf
/*.opensdf
/.vs
/pdp11link
/*.OBJ
/*.dumpobj
/*.o
/pclink11
/version.h
/dumpobj/Debug
/dumpobj/Release
/dumpobj/*.o
/testanalyzer/Debug
/testanalyzer/Release
/testanalyzer/*.o
/testanalyzer
/testrunner/Debug
/testrunner/Release
/testrunner/*.o
/x-*
$notes.txt
