/Debug
/Release
*.user
*.ncb
*.suo
/*.sdf
/*.opensdf
/.vs
/pdp11link
/*.OBJ
/*.dumpobj
/*.o
/pclink11
/version.h
/dumpobj/Debug
/dumpobj/Release
/testanalyzer/Debug
/testanalyzer/Release
/testrunner/Debug
/testrunner/Release
/x-*
$notes.txt
